body{
    background-color:lightsalmon;  
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-position: center;
      color: blue;

}
/*padding is space between the sentences*/
 h1{   
     color: mediumvioletred;
     background-color: palegreen;
     font: italic 200% fantasy;
     text-align: center;
     border:3px groove rebeccapurple;
     padding: 10px;
     width: fit-content;
}

h2{
  color: darkslategrey;
  background-color: hotpink;
  padding: 10px;
  text-align: center;
  border:3px groove rebeccapurple;
  width: fit-content;
}

h3{
  color: darkred;
  background-color: yellowgreen;
  width: fit-content;
  padding: 10px;
  text-align: center;
  border:3px groove rebeccapurple;
}

h4{
  color:white;
  background-color: brown;
  padding: 10px;
  text-align: center;
  border:3px groove rebeccapurple;
  width: fit-content;
}

img{
  width: 400px;
  height:300px;
  border-radius: 10px;
}

a{
  background-color: black;
  color: aquamarine;
  padding: 5px;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 800;
  border-radius: 5px;
}

a:hover{
  background-color: lightcoral;
  color: burlywood;
  padding: 10px;
}